.container-md {
    max-width: 985px !important;
    margin-top: 100px;
}

body {
    background-color:#F0ECE3 !important;
}

img {
    display: block;
    margin: 0 auto;
}

input[type="text"] {
    margin: 10px;
    margin-left: 125px;
    width: 600px;
    height: 40px;
    border-radius: 16px;
    text-indent: 10px;
    background-color: #DFD3C3;
    color: #AC7088;
    font-family: 'Baloo 2', cursive;
    font-size: 18px;
}

textarea:focus, input:focus{
    outline: none;
}

::placeholder { 
    color: #AC7088;
    opacity: 1; 
  }

input[type="submit"] {
    width: 50px;
    height: 40px;
    margin: 10px;
    border-radius: 20px;
    background-color:#DFD3C3;
}

input[type="submit"]:hover {
    background-color: #AC7088;
    transition: all 250ms;
    cursor: pointer;
    size: 200px;
}
.day-time {
    font-size: 10px;
    font-weight: lighter;
}
.col-lg-2 {
    padding: 10px;
    margin: 5px;
    border-radius: 30px;
    background:#DFD3C3;
}

.card {
    display:flex;
    flex-basis: 200px;
    align-items: center;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-around;
    background-color: #DFD3C3 !important;
    border-radius: 25px !important
}
.card-body {
    font-family: 'Comfortaa', cursive;
    font-weight: 100px;
    font-size: 16px;
    border-radius: 30px;
}

.temperature {
    color: #AC7088 !important;
    font-size: 28px;
}

header {
    font-size: 24px;
    font-weight: bold;
    color: #AC7088;
}

#to-celsius, #to-fahrenheit {
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    color: #AC7088 !important;
    vertical-align: top;
    letter-spacing: 2px;
    
}

#to-celsius, #to-fahrenheit:hover {
    color: #AC7088 !important;
}

.time {
    text-align: left;
    font-weight: bold;
    font-family: 'Comfortaa', cursive;
    font-size: 18px;
    margin: 0px 15px 0px 15px;
    color: #AC7088;
}

.card-body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

ul {
    padding-left: 0px;
    margin-top: 0;
    margin-bottom: 0px;
}

li {
    font-weight: 400;
}

li::first-letter {
    text-transform: capitalize;
}

.weather-description {
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    color: #AC7088;
    font-weight: bold;
    list-style-type: none;
}

.card-title {
    text-align: center;
    font-weight: bold;
    font-family: 'Comfortaa', cursive;
    font-size: 18px;
    color: #AC7088;
}

.card-text{
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-size: 15px;
    color: #AC7088;
}

span {
    font-size: 18px;
}

.fa-location-dot {
    font-size: 36px;
    color: #AC7088;
}

.enter-field {
    display: flex;
    overflow: hidden;
    padding: 15px;
}

.show-current-data {
    margin: 10px;
}

.fa-location-dot:hover{
    cursor: pointer;
    transition: all 200ms ease;
    opacity: 1;
    font-size: 36.7px;
}

.fa-cloud, .fa-cloud-sun, .fa-cloud-sun-rain, .fa-sun{
    font-size: 50px;
}

.fa-regular.fa-sun {
    font-size: 100px;
    color: #AC7088;
}

.weatherImage {
    text-align: center;
    color: #AC7088;
}

.col-lg-3 {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #AC7088;
} 

h6 {
    text-align: center;
    font-size: 18px;
    font-family: 'Baloo 2', cursive;
    color: #AC7088 !important;
}